.featured-posts
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 10px

  .featured-post
    display: flex
    flex-direction: column
    width: 100%
    padding: 10px
    margin-bottom: 5px
    background: white
    box-shadow: 0 0 2px rgba(0,0,0,.05), 0 1px rgba(0,0,0,.02)

    .title
    .meta

